.wrapper {
  margin: auto;
  font-weight: lighter;
  padding: 6rem 1rem 0 1rem;
  max-width: 50rem;
}

@media (max-width: 600px) {
  .wrapper {
    padding-top: 2rem;
    text-align: center;
  }
}

.name {
  font-size: medium;
  font-weight: inherit;
  padding-bottom: 0.5rem;
}

.description {
  font-weight: inherit;
  padding-bottom: 2rem;
}

.experience {
  font-weight: inherit;
  color: var(--myGrey);
}

.highlight {
  color: var(--highlight);
}
